body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}
h2{
    text-align: center;
    margin-top:13% ;
}
.container1{
    width: 250px;
    height: 100px;
    background-color: rgba(78, 98, 109, 0.8);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    margin-top: 2%;
    display: grid;
}
#time{
    display: flex;
    justify-content: center;
    
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 20%;
    background-color: rgb(80, 73, 73);
    margin: auto;
    width: 450px;
    gap: 5px;
    margin-top: 20px;
    color: white;
    border-radius: 6px;
    font-size: 13px;
   justify-content: center;
    
}
.timezone{
    display: grid;
    margin: 10px;

}
#inputtimezone{
    width: 110px;
}
#alarams{
    display: grid;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 50px;
}
#timeFormate{
    margin-top: 10px;
}
